*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-inline-size: 375px;
  max-inline-size: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  font-family: 'IBM Plex Mono', monospace;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}