:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url('../images/cover-image-light.png');
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-text: #353430;
  --title-color: #ffc2e6;
  --button-color: #353430;
  --button-hover: rgba(53, 52, 48, 0.4);
  --section-title-color: #353430;
  --rec-visibility: hidden;
  --decor-zone-color: #353430;
}

.page.theme-light {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  color: var(--text-color);
}