:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --border-color: #353430;
  --shadow-color: #FF0070;
  --link-shadow: #353430;
  --section-title: #353430;
  --decorated-zone: #353430;
  --menu-color: #353430;
  --menu-hover: rgba(53, 52, 48, 0.4);
  --corners-color: #353430;
  --rec-visible: hidden;
  --bg-image: url('../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --border-color: #353430;
    --shadow-color: #FF0070;
    --link-shadow: #353430;
    --section-title: #353430;
    --decorated-zone: #353430;
    --menu-color: #353430;
    --menu-hover: rgba(53, 52, 48, 0.4);
    --corners-color: #353430;
    --rec-visible: hidden;
    --bg-image: url('../images/cover-image-light.png');
  }
}