:root {
  --main-font: 'IBM Plex Mono', monospace;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --section-title-size: clamp(1.1875rem, 0.9018rem + 1.2143vw, 1.75rem);
  --card-title-size: 1.375rem;
  --text-size: 1.125rem;
  --gap: 20px;
  --side-padding: clamp(10px, 0.9286rem + -0.3571vw, 20px);
}

:root,
:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-text: #000028;
  --title-color: #db00ff;
  --button-color: #ff0070;
  --button-hover: rgba(255, 0, 112, 0.4);
  --section-title-color: #ff0070;
  --rec-visibility: visible;
  --decor-zone-color: #ff0070;
}

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url('../images/cover-image-light.png');
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-text: #353430;
  --title-color: #ffc2e6;
  --button-color: #353430;
  --button-hover: rgba(53, 52, 48, 0.4);
  --section-title-color: #353430;
  --rec-visibility: hidden;
  --decor-zone-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg-color: #fff1f7;
    --bg-image: url('../images/cover-image-light.png');
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --accent-text: #353430;
    --title-color: #ffc2e6;
    --button-color: #353430;
    --button-hover: rgba(53, 52, 48, 0.4);
    --section-title-color: #353430;
    --rec-visibility: hidden;
    --decor-zone-color: #353430;
  }
}

@media (prefers-color-scheme: dark) {
  :root.theme-auto {
    --bg-color: #000028;
    --bg-image: url('../images/cover-image-dark.png');
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --accent-text: #000028;
    --title-color: #db00ff;
    --button-color: #ff0070;
    --button-hover: rgba(255, 0, 112, 0.4);
    --section-title-color: #ff0070;
    --rec-visibility: visible;
    --decor-zone-color: #ff0070;
  }
}